@tailwind base;
@tailwind components;
.page {
	@apply px-3 max-w-screen-xl mx-auto md:px-0  my-5 md:my-16;
}
@tailwind utilities;

/* https://dev.to/mnathani/two-lines-of-css-that-boosts-7x-rendering-performance-4mjd */
section {
	content-visibility: auto;
	contain-intrinsic-size: 1px 5000px;
}

/* Find a better solution with tailwind? */
nav a.active,
footer a.active {
	color: #67e8f9;
}

footer {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
}
