@tailwind base;
@tailwind components;
@tailwind utilities;

nav a.active,
footer a.active {
	color: pink;
}

footer {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
}

nav {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
}

body {
	padding: 80px 0 80px 0;
	overflow: scroll;
}
